**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
**/README.md
**/.idea
**/.claude
**/docs
**/devops/*/logs
**/devops/*/wallet
**/.editorconfig
**/tests
**/.gitattributes
# Incluir solo los archivos necesarios para el build
!devops/**/Dockerfile
!devops/**/.env
